/alejandroprueba.pdf
/alejandroprueba.txt
/apuntes desarrollo.docx
/build
/copia de la copia.py
/copiaseguridad.py
/dist
/ejemplo1.txt
/ejemplo2.py
/ejemplo2.txt
/ejemplo3.txt
/ejemplo4.txt
/ejemplo5.pdf
/ejemplo6.pdf
/ejemplodatos.pkl
/EJERCICIOEJEMPLO.pdf
/Formato.pdf
/hola.pdf
/programatiempo.py
/proyectoprogramado.txt
/psp.pdf
/RegistroTiempo.spec
/segundacopia.py
/temp_bar_chart.png
/temp_graph.png
/temp_pie_chart.png
/tiempo.xlsx